@charset "utf-8";
nav {
  height: 50px;
  border-bottom: 1px solid rgba(52, 73, 94, 0.6);
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  line-height: 50px;
  transition: color 0.3s;
}
nav ul li:hover {
  color: #ffffff;
}
.index-main {
  width: 100%;
  margin: 100px auto 0;
  text-align: center;
}
span {
  font-size: 1.8em;
  text-shadow: 1px 1px 1px rgba(45, 52, 54, 0.5);
}
h1 {
  font-size: 3rem;
  margin: 10px 0 20px;
  text-shadow: 2px 2px 2px rgba(45, 52, 54, 0.5);
}
.index-main img {
  width: 360px;
  margin: 10px auto 15px;
  border-radius: 100%;
  background-color: #fff1c3;
}
.index-main__startBtn {
  margin-top: 25px;
  width: 340px;
  height: 50px;
  background-color: #fff1c3;
  border: none;
  box-shadow: 2px 2px 2px rgba(45, 52, 54, 0.5);
}
.index-main__startBtn:hover {
  cursor: pointer;
  background-color: #34495e;
  color: #ecf0f1;
}
.youtube-link {
    font-size: 1rem;
    line-height: 1.71;
    text-align: center;
    color: #f73737;
    text-decoration: underline;
}

.youtube-link:hover {
    font-size: 1rem;
    line-height: 1.71;
    text-align: center;
    color: #f73737;
    text-decoration: underline;
}

.youtube-icon {
    width: 20px;
    height: 17.262px;
}
@media screen and (min-width: 900px) {
  nav ul {
    display: flex;
    justify-content: flex-start;
  }
  nav ul li {
    line-height: 50px;
    transition: color 0.3s;
    margin: 0 20px;
  }
}
@media screen and (max-width: 480px) {
  .index-main {
    width: 100%;
    margin: 50px auto 0;
  }
  span,
  h1 {
    font-size: 2em;
  }
  .index-main img {
    width: 260px;
  }
  .index-main__startBtn {
    width: 250px;
  }
}
