@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
.loading-container {
  width: 210px;
  height: 210px;
  position: absolute;
  top: calc(50% - 105px);
  left: calc(50% - 105px);
  border-radius: 50%;
  border: 10px solid rgba(205, 177, 143, 0.5);
  box-shadow: 0 0 20px rgb(205, 177, 143);
}
.loading-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10px;
  left: -10px;
  border: 10px solid transparent;
  border-top-color: rgb(161, 141, 115);
  /* border-right-color: #fff000; */
  border-radius: 50%;
  animation: ring-loop 2s linear infinite;
}

@keyframes ring-loop {
  0% {
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  105% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loadingSpan {
  display: block;
  width: 107.5px;
  height: 40px;
  color: #2d3436;
  font-size: 30px;
  font-family: "PT Serif", serif;
  position: absolute;
  top: calc(50% + 140px);
  left: calc(50% - 50px);
  text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.4);
}